.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000;
    border-bottom: 1px solid rgb(47,51,54);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #FFF;
}