.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: rgb(217,217,217);
}

.window {
    width: 75%;
    min-width: 400px;
}

.window input {
    background-color:rgb(47,51,54);
    color: rgb(217,217,217);

    &:focus {
        border: 1px solid #ff9900; 
        z-index: 10;
        outline: 0;
    }
}
.window select {
    background-color:rgb(47,51,54);
    color: rgb(217,217,217);

    &:focus {
        border: 1px solid #ff9900; 
        z-index: 10;
        outline: 0;
    }
}
.window textarea {
    background-color:rgb(47,51,54);
    color: rgb(217,217,217);

    &:focus {
        border: 1px solid #ff9900; 
        z-index: 10;
        outline: 0;
    }
}

.item {
    display: flex;
    justify-content: flex-start;
}
.item input {
    width: 75%;
    max-width: 300px;
}

.label {
    width: 120px;
}
.taglabel span{
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}
.label label {
    padding-left: 4px;
}

.titlebox {
    display: flex;
    align-items: center;
}

.textarea {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
}

.textarea textarea {
    width: 80%;
    height: 300px;
    max-width: 500px;
}

.postbtn {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    max-width: 620px;
}

.hr {
    background-color: rgb(47,51,54);
    border: none;
    height: 2px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.minibtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;

    margin: 0 .1em .6em 0;
    padding: .6em;
    line-height: 1px;
    color: #0000ee;
    background-color: #fff;
    border: 1px solid #0000ee;
    border-radius: 2em;
    font-size: 0.75rem;

    cursor: pointer;
}