@import "./Input.module.scss";
@import "./Sidebar.module.scss";

.container {
    display: flex;
    flex-direction: row;
    color: rgb(217,217,217);
    width: 100%;
    box-sizing : border-box;
    align-items: stretch;
}

.window {
    width: 75%;
    margin-left: 1rem;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item input {
    width: 75%;
    max-width: 300px;
}

.label {
    width: 120px;
}

.label label {
    padding-left: 4px;
}

.titlebox {
    display: flex;
    align-items: center;
}

.textarea {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}
.textarea label {
    font-size: $label;
    color: $gray;
}
.textarea textarea {
    height: 300px;
    max-width: 500px;
    border: 1px solid rgb(217,217,217);
}

.btnarea {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.subbtnarea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.postbtn {
    background-color: #44b400;
    color: #fff;
    padding: 2px 4px;
    border-radius: 16px;
}
.postbtn.disabled {
    background-color: #225200;
    color: $gray;
}

.btnbase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 96px;
    overflow-wrap: unset;
}

.btnbase span {
    padding-left: 2px;
}

.description {
    margin: 0.5rem 0.25rem;
}

.indicator {
    padding: 1rem;
}

// overwrite
.inputbox input {
    margin: 0;
}