@import "./Input.module.scss";

.window {
    display: flex;
    flex-direction: column;

    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    z-index: auto;
    overflow: auto;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.item label {
    background-color: $white-line;
    color: $dark-line;
    padding-right: 1rem;
}

.freeArea {
    margin-left: 1rem;
}