.sidebar {
    width: 80px;
    border-right: 1px solid rgb(47,51,54);
    color: #fff;

    height: 100%;

    display: flex;
    justify-content: center;

    position: relative;
    z-index: 20;
}

.sidebar .fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .icon {
    margin: 80px 0;
    background-color: #44b400;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    min-width: 35px;
    text-align: center;
    display: inline-block;    
}
.sidebar .preicon {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .sidebar {
        width: 40px;
    }
    .sidebar .icon {
        margin: 40px 0;
    }
}