$inactive-bgc: #666;
$active-bgc: #000;

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $active-bgc;
    color: #fff;
    padding: 1rem 0;
}
.window.invisible {
    display: none;
}
.window .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-left: 2rem;
}
.item select {
    max-width: 80%;
}
.item input {
    width: 60%;
}

.window hr {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.window .label {
    padding-left: 1rem;
}

.tags {
    padding-left: 2rem;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .hr {
        display: none;
    }
}

.btnbase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 96px;
    overflow-wrap: unset;
}

.btnbase span {
    padding-left: 2px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.minibtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;

    margin: 0 .1em .6em 0;
    padding: .6em;
    line-height: 1px;
    color: #0000ee;
    background-color: #fff;
    border: 1px solid #0000ee;
    border-radius: 2em;
    font-size: 0.75rem;

    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon span {
    padding-left: 4px;
}