@import "./Tags.scss";

.container {
    z-index: 999;
    position: fixed;
    top: 85px;
    right: 1rem;
    width: 45%;
    min-width: 320px;
    border: 1px solid #fff;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .container {
      width: 90%;
    }
}
  

.container.invisible {
    border: inherit;
}
$inactive-bgc: #666;
$active-bgc: #000;

.tab {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: #000;
}
.container .tab.invisible {
    display: none;
}

.menu {
    display: block;
    background-color: $inactive-bgc;
    padding:0.1rem 0;
    width: 35%;
    text-align: center;
    border-right: 1px solid $active-bgc;
    cursor: pointer;
}
.menu.select {
    background-color: $active-bgc;
    text-decoration:underline;
    text-decoration-color: lightseagreen;
    text-decoration-thickness: 3px;
}
.menu.active {
    opacity: 1.0;
}
.tab .menu.invisible {
    opacity: 0;
}

.btnbase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;

    border-radius: 50%;
    line-height: 32px;

    position: fixed;
    top: 85px;
    right: 1rem;

    cursor: pointer;

    z-index: 1000;
    padding: 0;
    background-color: #7faadb;
    border: 2px solid #fff;
}

.svgtab {
    display: flex;
    justify-content: center;
    align-items: center;
}