.sidebar {
    z-index: 20;
    position: fixed;
    top: 80px; // header-size
    left: 0;
    height: 100%;
    width: 80px;
    border-right: 1px solid rgb(47,51,54);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sidebar .preicon {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.sidebar .icon {
    margin: 80px 0;
    background-color: #44b400;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    min-width: 35px;
    text-align: center;
    display: inline-block;
}

$bgc: #000;
$dark-line: rgb(47,51,54); 
$white-line: rgb(217,217,217);

.container {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 80px;

    align-items: center;
}

.container.invisible {
    display: none;
}

.tab {
    display: flex;
    justify-content: flex-start;
    color: rgb(217,217,217);
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $bgc;
    padding:0.25rem 0;
    border-bottom: 5px solid $dark-line;
}

.modal {
    z-index: 1;
    top: 80px;
    left: 80px;
    width: 45%;
    min-width: 300px;
    min-height: 400px;
    height: 650px;
    max-height: 70vh;
    border: 1px solid $white-line;
    border-radius: 16px;
    font-size: 0.9rem;
    color: $white-line;
    padding: 0.5rem;
    background-color: $bgc;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}
@media (max-width: 600px) {
    .modal {
      max-width: 320px;
    }
  }

.svgtab {
    font-size: 17px;
}

.searchbtn {
    background-color: #44b400;
    color: #fff;
    padding: 2px 4px;
    border-radius: 16px;
}

.btnbase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 96px;
    overflow-wrap: unset;
}

.btnbase span {
    padding-left: 2px;
}
